azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workspaceName": {
            "type": "string",
            "metadata": {
                "description": "Name for the Log Analytics workspace"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for all resources"
            }
        },
        "appId": {
            "type": "string",
            "metadata": {
                "description": "Application (client) ID from the app registration"
            }
        },
        "keyVaultName": {
            "type": "string",
            "metadata": {
                "description": "Name for the Key Vault to store secrets"
            }
        },
        "logicAppName": {
            "type": "string",
            "defaultValue": "MDE-Indicator-Sync",
            "metadata": {
                "description": "Name for the Logic App that syncs MDE indicators"
            }
        },
        "playbookName": {
            "type": "string",
            "defaultValue": "MDE-Indicator-Update-Sync",
            "metadata": {
                "description": "Name for the Playbook that syncs updates back to MDE"
            }
        },
        "workbookName": {
            "type": "string",
            "defaultValue": "MDE Indicator Management",
            "metadata": {
                "description": "Name for the workbook to visualize and manage indicators"
            }
        },
        "workbookId": {
            "type": "string",
            "defaultValue": "[newGuid()]",
            "metadata": {
                "description": "Unique ID for the workbook"
            }
        }
          },
    "variables": {
        "customTableName": "MDEIndicators_CL",
        "managedIdentityName": "[concat(parameters('logicAppName'), '-identity')]",
        "keyVaultSecretName": "MDEAppSecret",
        "logAnalyticsSolutionName": "[concat('SecurityInsights', '(', parameters('workspaceName'), ')')]"
    },
    "resources": [
        {
            "type": "Microsoft.OperationalInsights/workspaces",
            "apiVersion": "2022-10-01",
            "name": "[parameters('workspaceName')]",
            "location": "[parameters('location')]",
            "properties": {
                "sku": {
                    "name": "PerGB2018"
                },
                "retentionInDays": 90,
                "features": {
                    "enableLogAccessUsingOnlyResourcePermissions": true
                }
            }
        },
        {
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2022-10-01",
            "name": "[concat(parameters('workspaceName'), '/', variables('customTableName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
            ],
            "properties": {
                "schema": {
                    "name": "[variables('customTableName')]",
                    "columns": [
                        {
                            "name": "TimeGenerated",
                            "type": "datetime"
                        },                        {
                            "name": "id",
                            "type": "string"
                        },
                        {
                            "name": "indicatorValue",
                            "type": "string"
                        },
                        {
                            "name": "indicatorType",
                            "type": "string"
                        },
                        {
                            "name": "action",
                            "type": "string"
                        },
                        {
                            "name": "application",
                            "type": "string"
                        },
                        {
                            "name": "source",
                            "type": "string"
                        },
                        {
                            "name": "sourceType",
                            "type": "string"
                        },
                        {
                            "name": "indicatorTitle",
                            "type": "string"
                        },
                        {
                            "name": "creationTimeDateTimeUtc",
                            "type": "datetime"
                        },
                        {
                            "name": "description",
                            "type": "string"
                        },
                        {
                            "name": "expirationTime",
                            "type": "datetime"
                        },
                        {
                            "name": "severity",
                            "type": "string"
                        },
                        {
                            "name": "recommendedActions",
                            "type": "string"
                        },
                        {
                            "name": "rbacGroupNames",
                            "type": "dynamic"
                        },
                        {
                            "name": "tlpLevel",
                            "type": "string"
                        },
                        {
                            "name": "confidence",
                            "type": "int"
                        },
                        {
                            "name": "tags",
                            "type": "dynamic"
                        },
                        {
                            "name": "createdBy",
                            "type": "string"
                        },
                        {
                            "name": "createdBySource",
                            "type": "string"
                        },
                        {
                            "name": "lastUpdatedBy",
                            "type": "string"
                        },
                        {
                            "name": "lastUpdateTime",
                            "type": "datetime"
                        },
                        {
                            "name": "additionalInfo",
                            "type": "dynamic"
                        },
                        {
                            "name": "directlyAddedToMDE",
                            "type": "boolean"
                        },
                        {
                            "name": "modifiedInLogAnalytics",
                            "type": "boolean"
                        }
                    ]
                }
            }
        },
        {
            "type": "Microsoft.OperationsManagement/solutions",
            "apiVersion": "2015-11-01-preview",
            "name": "[variables('logAnalyticsSolutionName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
            ],
            "properties": {
                "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
            },
            "plan": {
                "name": "[variables('logAnalyticsSolutionName')]",
                "publisher": "Microsoft",
                "product": "OMSGallery/SecurityInsights",
                "promotionCode": ""
            }
        },
        {
            "type": "Microsoft.KeyVault/vaults",
            "apiVersion": "2022-07-01",
            "name": "[parameters('keyVaultName')]",
            "location": "[parameters('location')]",
            "properties": {
                "enabledForDeployment": false,
                "enabledForDiskEncryption": false,
                "enabledForTemplateDeployment": true,
                "tenantId": "[subscription().tenantId]",
                "sku": {
                    "name": "standard",
                    "family": "A"
                },
                "networkAcls": {
                    "defaultAction": "Allow",
                    "bypass": "AzureServices"
                },
                "accessPolicies": []
            }
        },
        {
            "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
            "apiVersion": "2023-01-31",
            "name": "[variables('managedIdentityName')]",
            "location": "[parameters('location')]"
        },
        {
            "type": "Microsoft.KeyVault/vaults/accessPolicies",
            "apiVersion": "2022-07-01",
            "name": "[concat(parameters('keyVaultName'), '/add')]",
            "dependsOn": [
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]",
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('managedIdentityName'))]"
            ],
            "properties": {
                "accessPolicies": [
                    {
                        "tenantId": "[subscription().tenantId]",
                        "objectId": "[reference(resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('managedIdentityName')), '2023-01-31').principalId]",
                        "permissions": {
                            "secrets": [
                                "get",
                                "list"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('workspaceName'), variables('customTableName'))]",
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "AppId": {
                            "defaultValue": "[parameters('appId')]",
                            "type": "String"
                        },
                        "KeyVaultName": {
                            "defaultValue": "[parameters('keyVaultName')]",
                            "type": "String"
                        },
                        "KeyVaultSecretName": {
                            "defaultValue": "[variables('keyVaultSecretName')]",
                            "type": "String"
                        },
                        "WorkspaceId": {
                            "defaultValue": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
                            "type": "String"
                        },
                        "CustomTableName": {
                            "defaultValue": "[variables('customTableName')]",
                            "type": "String"
                        },
                        "$connections": {
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Hour",
                                "interval": 6
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Get_KeyVault_Secret": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent(parameters('KeyVaultSecretName'))}/value"
                            },
                            "runAfter": {}
                        },
                        "Get_Azure_AD_Token": {
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/@{tenant().tenantId}/oauth2/token",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "body": "grant_type=client_credentials&client_id=@{parameters('AppId')}&client_secret=@{body('Get_KeyVault_Secret')?['value']}&resource=https://api.securitycenter.microsoft.com"
                            },
                            "runAfter": {
                                "Get_KeyVault_Secret": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Get_MDE_Indicators": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "https://api.securitycenter.microsoft.com/api/indicators",
                                "headers": {
                                    "Authorization": "Bearer @{body('Get_Azure_AD_Token').access_token}",
                                    "Content-Type": "application/json"
                                }
                            },
                            "runAfter": {
                                "Get_Azure_AD_Token": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Process_Indicators": {
                            "type": "Foreach",
                            "foreach": "@body('Get_MDE_Indicators').value",
                            "actions": {                                "Send_To_Log_Analytics": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "id": "@{items('Process_Indicators').id}",
                                            "indicatorValue": "@{items('Process_Indicators').indicatorValue}",
                                            "indicatorType": "@{items('Process_Indicators').indicatorType}",
                                            "action": "@{items('Process_Indicators').action}",
                                            "application": "@{items('Process_Indicators').application}",
                                            "source": "@{items('Process_Indicators').source}",
                                            "sourceType": "@{items('Process_Indicators').sourceType}",
                                            "indicatorTitle": "@{items('Process_Indicators').title}",
                                            "creationTimeDateTimeUtc": "@{items('Process_Indicators').creationTimeDateTimeUtc}",
                                            "description": "@{items('Process_Indicators').description}",
                                            "expirationTime": "@{items('Process_Indicators').expirationTime}",
                                            "severity": "@{items('Process_Indicators').severity}",
                                            "recommendedActions": "@{items('Process_Indicators').recommendedActions}",
                                            "rbacGroupNames": "@{items('Process_Indicators').rbacGroupNames}",
                                            "tlpLevel": "@{items('Process_Indicators').tlpLevel}",
                                            "confidence": "@{items('Process_Indicators').confidence}",
                                            "tags": "@{items('Process_Indicators').tags}",
                                            "createdBy": "@{items('Process_Indicators').createdBy}",
                                            "createdBySource": "@{items('Process_Indicators').createdBySource}",
                                            "lastUpdatedBy": "@{items('Process_Indicators').lastUpdatedBy}",
                                            "lastUpdateTime": "@{items('Process_Indicators').lastUpdateTime}",
                                            "additionalInfo": "@{items('Process_Indicators').additionalInfo}",
                                            "directlyAddedToMDE": true,
                                            "modifiedInLogAnalytics": false
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs",
                                        "queries": {
                                            "customLogName": "@parameters('CustomTableName')",
                                            "workspaceId": "@parameters('WorkspaceId')"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_MDE_Indicators": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'keyvault')]",
                                "connectionName": "keyvault",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                            },
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azureloganalyticsdatacollector')]",
                                "connectionName": "azureloganalyticsdatacollector",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "keyvault",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "KeyVault Connection",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                },
                "parameterValues": {
                    "vaultName": "[parameters('keyVaultName')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "azureloganalyticsdatacollector",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "Log Analytics Data Collector",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('playbookName')]",
            "location": "[parameters('location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
                "[resourceId('Microsoft.KeyVault/vaults', parameters('keyVaultName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "AppId": {
                            "defaultValue": "[parameters('appId')]",
                            "type": "String"
                        },
                        "KeyVaultName": {
                            "defaultValue": "[parameters('keyVaultName')]",
                            "type": "String"
                        },
                        "KeyVaultSecretName": {
                            "defaultValue": "[variables('keyVaultSecretName')]",
                            "type": "String"
                        },
                        "WorkspaceName": {
                            "defaultValue": "[parameters('workspaceName')]",
                            "type": "String"
                        },
                        "CustomTableName": {
                            "defaultValue": "[variables('customTableName')]",
                            "type": "String"
                        },
                        "$connections": {
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_row_is_added_modified_or_deleted": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "path": "/subscriptions/@{encodeURIComponent(subscription().subscriptionId)}/resourceGroups/@{encodeURIComponent(resourceGroup().name)}/providers/@{encodeURIComponent('Microsoft.OperationalInsights')}/workspaces/@{encodeURIComponent(parameters('WorkspaceName'))}/onTableChanges",
                                "queries": {
                                    "tableName": "@parameters('CustomTableName')"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_KeyVault_Secret": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent(parameters('KeyVaultSecretName'))}/value"
                            },
                            "runAfter": {}
                        },
                        "Get_Azure_AD_Token": {
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/@{tenant().tenantId}/oauth2/token",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "body": "grant_type=client_credentials&client_id=@{parameters('AppId')}&client_secret=@{body('Get_KeyVault_Secret')?['value']}&resource=https://api.securitycenter.microsoft.com"
                            },
                            "runAfter": {
                                "Get_KeyVault_Secret": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Condition_-_Check_if_modified": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['modifiedInLogAnalytics']",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "actions": {                                "Update_or_Create_MDE_Indicator": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "https://api.securitycenter.microsoft.com/api/indicators",
                                        "headers": {
                                            "Authorization": "Bearer @{body('Get_Azure_AD_Token').access_token}",
                                            "Content-Type": "application/json"
                                        },
                                        "body": {
                                            "indicatorValue": "@triggerBody()?['indicatorValue']",
                                            "indicatorType": "@triggerBody()?['indicatorType']",
                                            "action": "@triggerBody()?['action']",
                                            "application": "@triggerBody()?['application']",
                                            "source": "@triggerBody()?['source']",
                                            "sourceType": "@triggerBody()?['sourceType']",
                                            "title": "@triggerBody()?['indicatorTitle']",
                                            "description": "@triggerBody()?['description']",
                                            "expirationTime": "@triggerBody()?['expirationTime']",
                                            "severity": "@triggerBody()?['severity']",
                                            "recommendedActions": "@triggerBody()?['recommendedActions']",
                                            "rbacGroupNames": "@triggerBody()?['rbacGroupNames']",
                                            "tlpLevel": "@triggerBody()?['tlpLevel']",
                                            "confidence": "@triggerBody()?['confidence']",
                                            "tags": "@triggerBody()?['tags']"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Azure_AD_Token": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'keyvault')]",
                                "connectionName": "keyvault",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
                            },
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', 'azuremonitorlogs')]",
                                "connectionName": "azuremonitorlogs",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuremonitorlogs')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Insights/workbooks",
            "apiVersion": "2021-08-01",
            "name": "[parameters('workbookId')]",
            "location": "[parameters('location')]",
            "kind": "shared",
            "properties": {
                "displayName": "[parameters('workbookName')]",
                "serializedData": "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":{\"json\":\"# Microsoft Defender for Endpoint Indicator Management\\n\\nThis workbook allows you to view and manage your Microsoft Defender for Endpoint indicators that are synchronized with the Log Analytics workspace.\"},\"name\":\"Title\"},{\"type\":9,\"content\":{\"version\":\"KqlParameterItem/1.0\",\"parameters\":[{\"id\":\"5cd28bf3-7eb5-455f-8eee-a91115c7aa8d\",\"version\":\"KqlParameterItem/1.0\",\"name\":\"TimeRange\",\"type\":4,\"isRequired\":true,\"value\":{\"durationMs\":86400000},\"typeSettings\":{\"selectableValues\":[{\"durationMs\":3600000},{\"durationMs\":14400000},{\"durationMs\":43200000},{\"durationMs\":86400000},{\"durationMs\":172800000},{\"durationMs\":259200000},{\"durationMs\":604800000},{\"durationMs\":1209600000},{\"durationMs\":2592000000}]}}],\"style\":\"pills\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\"},\"name\":\"Parameters\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"MDEIndicators_CL\\n| summarize Count=count() by indicatorType_s\\n| sort by Count desc\",\"size\":0,\"title\":\"Indicator Types\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"Indicator Types\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"MDEIndicators_CL\\n| summarize Count=count() by directlyAddedToMDE_b\\n| extend Source = iff(directlyAddedToMDE_b == true, 'Added in MDE', 'Added in Workbook')\\n| project Source, Count\",\"size\":0,\"title\":\"Indicator Source\",\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"visualization\":\"piechart\"},\"customWidth\":\"50\",\"name\":\"Indicator Source\"},{\"type\":3,\"content\":{\"version\":\"KqlItem/1.0\",\"query\":\"MDEIndicators_CL\\n| where TimeGenerated > ago({TimeRange})\\n| project\\n    indicatorValue_s,\\n    indicatorType_s,\\n    action_s,\\n    indicatorTitle_s,\\n    severity_s,\\n    confidence_d,\\n    tlpLevel_s,\\n    createdBy_s,\\n    expirationTime_t,\\n    directlyAddedToMDE_b,\\n    modifiedInLogAnalytics_b\\n| order by createdBy_s asc, TimeGenerated desc\",\"size\":0,\"title\":\"All Indicators\",\"showExportToExcel\":true,\"queryType\":0,\"resourceType\":\"microsoft.operationalinsights/workspaces\",\"gridSettings\":{\"filter\":true,\"sortBy\":[{\"itemKey\":\"expirationTime_t\",\"sortOrder\":2}]},\"sortBy\":[{\"itemKey\":\"expirationTime_t\",\"sortOrder\":2}]},\"name\":\"All Indicators\"},{\"type\":1,\"content\":{\"json\":\"## Manage Indicators\\n\\nTo add a new indicator, use the forms below to enter details and submit to the Log Analytics workspace. This will trigger the update playbook to sync with MDE.\"},\"name\":\"Manage Section\"},{\"type\":1,\"content\":{\"json\":\"### Add New Indicator\\n\\nUse this form to add a new indicator. After filling in the details, click the 'Run Query' button, which will generate KQL that can be executed to add the indicator to the Log Analytics workspace.\"},\"name\":\"Add Indicator\"}],\"styleSettings\":{},\"fromTemplateId\":\"sentinel-UserWorkbook\",\"$schema\":\"https://github.com/Microsoft/Application-Insights-Workbooks/blob/master/schema/workbook.json\"}",
                "version": "1.0",
                "sourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]",
                "category": "sentinel"
            }
        },
        {
            "type": "Microsoft.Resources/deploymentScripts",
            "apiVersion": "2023-08-01",
            "name": "assign-ua-identity-to-app",
            "location": "[parameters('location')]",
            "kind": "AzureCLI",
            "dependsOn": [
                "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('managedIdentityName'))]",
                "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]",
                "[resourceId('Microsoft.Logic/workflows', parameters('playbookName'))]"
            ],
            "properties": {
                "retentionInterval": "P1D",
                "azCliVersion": "2.40.0",
                "timeout": "PT10M",
                "cleanupPreference": "Always",
                "forceUpdateTag": "1",
        "scriptContent": "[concat('\\n',
                  'echo Setting Key Vault policy...\\n',
                  'az keyvault set-policy --name ', parameters('keyVaultName'), ' --object-id $(az resource show --resource-group ', resourceGroup().name, ' --resource-type Microsoft.Logic/workflows --name ', parameters('logicAppName'), ' --query identity.principalId -o tsv) --secret-permissions get list\\n',
                  'echo Setting Key Vault policy for playbook...\\n',
                  'az keyvault set-policy --name ', parameters('keyVaultName'), ' --object-id $(az resource show --resource-group ', resourceGroup().name, ' --resource-type Microsoft.Logic/workflows --name ', parameters('playbookName'), ' --query identity.principalId -o tsv) --secret-permissions get list\\n',
          'echo Adding Microsoft Threat Protection API permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 05a65629-4c1b-48c1-a78b-804c4abdd4af --api-permissions a832eaa3-0cfc-4a2b-9af1-27c5b092dd40=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 05a65629-4c1b-48c1-a78b-804c4abdd4af --api-permissions 8e41f311-31d5-43aa-bb79-8fd4e14a8745=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 05a65629-4c1b-48c1-a78b-804c4abdd4af --api-permissions cb792285-1541-416c-a581-d8ede4ebc219=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 05a65629-4c1b-48c1-a78b-804c4abdd4af --api-permissions e9aa7b67-ea0d-435b-ab36-592cd9b23d61=Role\\n',
          'echo Adding Microsoft Graph permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 6e472fd1-ad78-48da-a0f0-97ab2c6b769e=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions dc5007c0-2d7d-4c42-879c-2dab87571379=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 01c0a623-fc9b-48e9-b794-0756f8e8f067=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 2a6baefd-edea-4ff6-b24e-bebcaa27a50d=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 5e0edab9-c148-49d0-b423-ac253e121825=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions d903a879-88e0-4c09-b0c9-82f6a1333f84=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions f8f035bb-2cce-47fb-8bf5-7baf3ecbee48=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions dd98c7f5-2d42-42d3-a0e4-633161547251=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 197ee4e9-b993-4066-898f-d6aecc55125b=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 21792b6c-c986-4ffc-85de-df9da54b52fa=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions e0b77adb-e790-44a3-b0a0-257d06303687=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions d72bdbf4-a59b-405c-8b04-5995895819ac=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000003-0000-0000-c000-000000000000 --api-permissions 926a6798-b100-4a20-a22f-a4918f13951d=Role\\n',
          'echo Adding Azure Security Center permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 7b7531ad-5926-4f2d-8a1d-38495ad33e17 --api-permissions c613cf81-75fb-4201-a32b-7a58d1fe4dff=Role\\n',
          'echo Adding Microsoft Defender for Cloud Apps permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 58c746b0-a0b0-4647-a8f6-12dde5981638 --api-permissions 179ad82c-ddf7-4180-9ecc-af2608f2ae6d=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 58c746b0-a0b0-4647-a8f6-12dde5981638 --api-permissions c05406e2-24d5-4c73-8c33-dde21e8501e6=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 58c746b0-a0b0-4647-a8f6-12dde5981638 --api-permissions 50974fa0-9c21-4479-a75c-a901ccdb4b5c=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 58c746b0-a0b0-4647-a8f6-12dde5981638 --api-permissions 2e03c640-95b1-462d-b0cc-811335e6c60b=Role\\n',
          'echo Adding Windows Defender ATP permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api c98e5057-edde-4666-b301-186a01b4dc58 --api-permissions f89ec176-467b-452a-a2eb-7144ac6aa9cc=Role\\n',
          'echo Adding Microsoft Threat Intelligence permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 8ee8fdad-f234-4243-8f3b-15c294843740 --api-permissions 7734e8e5-8dde-42fc-b5ae-6eafea078693=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 8ee8fdad-f234-4243-8f3b-15c294843740 --api-permissions 8d90f441-09cf-4fdc-ab45-e874fa3a28e8=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 8ee8fdad-f234-4243-8f3b-15c294843740 --api-permissions a7deff90-e2f5-4e4e-83a3-2c74e7002e28=Role\\n',
          'echo Adding Microsoft Teams permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 00000007-0000-0ff1-ce00-000000000000 --api-permissions 8f819283-077c-4c68-aa24-0ad706da26e0=Role\\n',
          'echo Adding Microsoft Sentinel permissions...\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 9ec59623-ce40-4dc8-a635-ed0275b5d58a --api-permissions cba40051-8d05-45da-aa85-f6321b023c16=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 9ec59623-ce40-4dc8-a635-ed0275b5d58a --api-permissions 7e2fc5f2-d647-4926-89f6-f13ad2950560=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 9ec59623-ce40-4dc8-a635-ed0275b5d58a --api-permissions 04cd5d64-65c5-4dc5-9582-89bac29ed189=Role\\n',
          'az ad app permission add --id ', parameters('appId'), ' --api 9ec59623-ce40-4dc8-a635-ed0275b5d58a --api-permissions 5a55b1b6-8996-4250-abc2-74ec0107ab20=Role\\n',
          'echo API permissions added successfully.\\n'
        )]"
      }
    }
    // ...existing code...
  ],
  "outputs": {
    "logAnalyticsWorkspaceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
    },
    "managedIdentityId": {
      "type": "string",
      "value": "[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('managedIdentityName'))]"
    },
    "keyVaultName": {
      "type": "string",
      "value": "[parameters('keyVaultName')]"
    },
    "workbookId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Insights/workbooks', parameters('workbookId'))]"
    }
  }
}
